<div id="layoutSidenav_content" class="d-flex flex-column align-items-center"
  style="max-height: 100vh; overflow-y: auto;">
  <main class="flex-grow-1 d-flex justify-content-center align-items-center">
    <div class="container-fluid px-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 d-flex justify-content-center align-items-center">
            <div>
              <h2 class="">Bienvenido</h2>
              <h1 style="color:#FCAE01"><strong style="color:#4B4B4B">Modo</strong><strong
                  style="color:#FCAE01">FIT</strong><span style="font-weight: lighter;"></span></h1>
              <p class="">Bienvenido a la intranet del Gimnasio ModoFit, aquí podrás conocer un poco más sobres tus membresías adquiridas, asistencias, coach y más.</p>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="text-center">
              <lottie-player src="/img/jsonimg/bienvenida.json" background="transparent"
                speed="1" style="max-width: 70%; height: auto;" loop autoplay></lottie-player>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </main>

</div>
