html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#sidebar {
    min-height: 100vh;
    width: 250px;
    background-color: #343a40;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease, width 0.3s ease;
    z-index: 1000;
}

#sidebar a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: block;
}

#sidebar a:hover {
    background-color: #495057;
}

#sidebar .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #343a40;
}

#sidebar.active {
    transform: translateX(-250px);
}

#content {
    flex: 1;
    margin-left: 250px;
    margin-top: 70px;
    transition: margin-left 0.3s ease;
    overflow-x: hidden;
}

#content.fullwidth {
    margin-left: 0;
}

#sidebarCollapse {
    background-color: #343a40;
    color: white;
    border: none;
    display: block;
}

nav.navbar {
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    z-index: 1030;
    transition: width 0.3s ease, left 0.3s ease;
}

nav.navbar.fullwidth {
    width: 100%;
    left: 0;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    height: 60px;
    overflow-x: hidden;
    transition: margin-left 0.3s ease, width 0.3s ease;
}

/* Footer when sidebar is active */
footer.fullwidth {
    width: 100%;
}

footer.with-sidebar {
    width: calc(100% - 250px);
    margin-left: 250px;
}

@media (max-width: 768px) {
    #sidebar {
        transform: translateX(-250px);
    }

    #sidebar.active {
        transform: translateX(0);
    }

    #content {
        margin-left: 0;
        width: 100%;
        min-height: calc(100vh - 60px);
    }

    footer {
        width: 100% !important;
        margin-left: 0 !important;
    }

    #sidebarCollapseMobile {
        display: block;
    }

    #sidebarCollapse {
        display: none;
    }

    #navbarSidebarToggle {
        display: none !important;
    }
}

@media (min-width: 769px) {
    #sidebarCollapseMobile {
        display: none;
    }

    #sidebar.active~#content #navbarSidebarToggle {
        display: block;
    }

    #navbarSidebarToggle {
        display: none;
        background-color: #343a40;
        color: white;
        border: none;
    }
}

.navbar h2 {
    margin-left: 5px;
    flex-grow: 1;
    text-align: left;
}

.container-fluid {
    display: flex;
    align-items: center;
}

.dropdown {
    margin-left: auto;
}

.dropdown-toggle::after {
    display: none;
}