<div id="sidebar" class="bg-dark">
    <div class="sidebar-header">
        <h4 class="text-light">Mi Dashboard</h4>
        <button id="sidebarCollapse" class="btn">☰</button>
    </div>
    <a href="#" class="opcion">Inicio</a>
    <a href="#" class="opcion">Perfil</a>
    <a href="#" class="opcion">Configuración</a>
    <a href="#" class="opcion">Ayuda</a>
</div>