<!DOCTYPE html>
<html lang="es">
{{> head }}

<body>
    <div class="jm-loadingpage">
        <lottie-player src="/img/jsonimg/loadingintro.json" class="" background="transparent" speed="1"
            style="width: 400px; height: 400px;" loop autoplay></lottie-player>
    </div>
    {{> menulateral }}
    <div id="content">
        {{> menucabecera }}
        <main id="contenedoropciones" class="container mt-0">
            <div class="">
                <div class="">
                    <div class="">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center" style="width: 800px;">
                                    <dotlottie-player src="https://lottie.host/1ff6d1f3-5026-4c28-8480-bf7ff257a2c6/9rIsevj1Vb.json" background="transparent" speed="1" style="max-width: 100%; height: auto;" loop autoplay></dotlottie-player>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    {{> footer }}



    <script>
        $(document).ready(function () {
            //mostrarmodulos();           
            setTimeout(function () {
                $(".jm-loadingpage").fadeOut("slow", function () {
                    $(".content").fadeIn("slow");
                });
            }, 500);
        });
        function mostrarmodulos() {

            const contentContainer = $('#contenedoropciones');
            const loadingHtml = `
                <div class="jm-loadingpage">
                    <lottie-player src="/img/jsonimg/loading.json" class="" background="transparent" speed="1"
                    style="width: 250px; height: 250px;" loop autoplay></lottie-player>
                </div>
            `;

            const links = $('a.opcion');
            if (!links.data('eventAssigned')) {
                links.data('eventAssigned', true);
                links.on('click', async (e) => {
                    e.preventDefault();
                    const url = e.currentTarget.getAttribute('href');
                    contentContainer.html(loadingHtml);
                    try {
                        await new Promise(resolve => setTimeout(resolve, 1000));
                        const response = await $.ajax({
                            url: url,
                            method: 'GET',
                        });
                        if (response.includes('login-card-description')) {
                            alert('Tu sesión ha expirado. Por favor, inicia sesión nuevamente.');
                            window.location.href = '/iniciarsesion'; // Cambia a la ruta correcta
                        } else {
                            contentContainer.animate({ opacity: 0 }, 1000, () => {
                                contentContainer.html(response);
                                contentContainer.animate({ opacity: 1 }, 500);
                            });
                        }
                    } catch (error) {
                        console.error(error);
                        // Mostrar un mensaje de error al usuario si lo deseas
                        contentContainer.html(`<div class="container">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-6">
                                                    <div class="text-center mt-4">
                                                        <img class="mb-4 img-error" src="/img/404logo.jpg" />
                                                        <p class="lead">
                                                            Esta URL solicitada no se encontró en este servidor.</p>
                                                        <a href="/">
                                                            <i class="fas fa-arrow-left me-1"></i>
                                                            Regresar
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>`);
                    }

                });
            }
        }
        document.getElementById('sidebarCollapse').addEventListener('click', function () {
            document.getElementById('sidebar').classList.toggle('active');
            document.getElementById('content').classList.toggle('fullwidth');
            document.querySelector('footer').classList.toggle('fullwidth');
            document.querySelector('footer').classList.toggle('with-sidebar');
            document.querySelector('nav.navbar').classList.toggle('fullwidth');
            document.getElementById('navbarSidebarToggle').style.display = 'block';
        });

        document.getElementById('sidebarCollapseMobile').addEventListener('click', function () {
            document.getElementById('sidebar').classList.toggle('active');
            document.getElementById('sidebarCollapse').style.display = 'block';
        });

        document.getElementById('navbarSidebarToggle').addEventListener('click', function () {
            document.getElementById('sidebar').classList.toggle('active');
            document.getElementById('content').classList.toggle('fullwidth');
            document.querySelector('footer').classList.toggle('fullwidth');
            document.querySelector('footer').classList.toggle('with-sidebar');
            document.querySelector('nav.navbar').classList.toggle('fullwidth');
            this.style.display = 'none';
        });
    </script>

</body>

</html>
